/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

@import "../styleguide/layout/layout";
@import "../styleguide/button/button";
body {
    margin: 0px;
    color: #757575;
}
.wsk-icon-logo {
    margin-bottom: -12px;
    position: relative;
}

a {
    text-decoration: none;
    color: #212121; 
}

#resource-list {
    border-left: 4px solid #C5CAE9;
    list-style-type:none;
}

#transparent {
    background-image: url('../images/hero-5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 40%;
    width: 100%;
    height: 520px;
}
#content {
    padding: 20px;
    background-color: #303F9F;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
#content p {
    color: #C5CAE9;
    font-size: 1.57143em;
    font-weight: 400;
}
#instructions {
    padding: 20px;
}
#instructions h2 {
    font-size: 1.57143em;
    font-weight: 500;
    color: #303F9F;
    padding-top: 10px;
}
.wsk-layout__content h1 {
    font-size: 2em;
}
.wsk-layout__content h2 {
    font-size: 1.57143em;
    font-weight: 300;
    color: #C5CAE9;
}
.wsk-layout__header .wsk-navigation__link {
    color: #212121;
}
pre {
    background: #F8F8F8;
    color: #6D4BA0;
    display: inline-block;
    padding: 10px;
}
.preview {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.preview h2 {
    font-size: 1.57143em;
    margin: 1em 0 .3em;
    color: #212121;
}
#preview-audit img {
    float: right;
}

.split-container {
    display: block;
    .split-right {
        float: right;
        width: 45%;
        img {
            width: 100%;
        }
    }
    .split-left {
        float: left;
    }
}


/*Switching to the shadow used on the Cardboard site*/

.wsk-layout__header--transparent.is-casting-shadow {
    box-shadow: 2px 4px 14px rgba(0, 0, 0, .05);
}
.footer {
    background: #fff;
    font-size: .9em;
    padding: 16px 24px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
.footer ul {
    margin: 0;
    text-align: right;
    clear: none;
}
.footer li {
    display: inline;
    line-height: 2.19;
    list-style: none;
    margin: auto;
    padding: 5px;
}
.footer a {
    color: #666;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
}
/*CLI*/
/**
 * CLI CSS
 * Adapted from the CSS CLI on GulpJS.com
 */

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
pre.terminal {
    position: relative;
    display: block;
    color: #ddd;
    background: #000;
    padding: 5px;
    margin-top: 2.6em;
    border: 1px solid #aaa;
    border: 1px solid rgba(110, 110, 110, 0.3);
    font-family: Menlo, Menlo-Regular, Inconsolata, Monaco, monospace;
    font-size: 16px;
    line-height: 1.2em;
}
pre.terminal:before {
    display: block;
    position: absolute;
    content: "a11y";
    text-align: center;
    color: #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #ccc;
    background-image: -webkit-linear-gradient(top, #ddd, #aaa);
    background-image: -moz-linear-gradient(top, #ddd, #aaa);
    line-height: 1.8em;
    height: 2em;
    top: -2.1em;
    left: -1px;
    right: -1px;
    font-family: Lucida Grande, sans-serif;
    font-size: 12px;
    color: #3a3a53;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(110, 110, 110, 0.3);
}
.command-prompt {
    color: #FFF;
}
.command-prompt:before {
    content: "$ ";
    color: #ddd;
}
pre.terminal .green {
    color: #0c0;
}
pre.terminal .red {
    color: red;
}
pre.terminal .cyan {
    text-decoration: underline;
    color: cyan;
}
pre.terminal:after {
    display: block;
    content: "";
    position: absolute;
    top: -1.6em;
    bottom: 0;
    left: 0;
    right: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 25px 0 #aaa;
}
@media (min-width: 300px) and (max-width: 800px) {
    #transparent {
        background-image: url('../images/hero-50.5.jpg');
        background-position: 10% 40%;
        width: 100%;
        height: 300px;
    }
    .wsk-layout__content h1 {
        font-size: 1.8em;
    }
    .wsk-layout__content h2 {
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.5em;
    }
    .wsk-layout__content .wsk-icon-logo {
        height: 24px;
        width: 24px;
        margin-bottom: -6px;
    }
    .preview img {
        max-width: 100%;
        height: auto;
    }
}

p {
    font-size: 1.2em;
}

