/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

@import "../styleguide/layout/layout";
body {
    margin: 0px;
}

.wsk-icon-logo {
    margin-bottom: -12px;
    position: relative;
}

#transparent {
    background-image: url('../images/hero-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 40%;
    width: 100%;
    height: 520px;
}
#content {
    padding: 20px;
    background-color: #303F9F;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#content p {
    color: #C5CAE9;
    /*#DCEDC8*/
    font-size: 1.57143em;
    font-weight: 400;
}
#instructions {
    padding: 20px;
}
#instructions h2 {
    font-weight: 400;
    color: #757575;
    line-height: 1.3;
    padding-top: 50px;
}

.wsk-layout__content h1 {
    font-size: 2em;
}

.wsk-layout__content h2 {
    font-size: 1.57143em;
    font-weight: 300;
    color: #C5CAE9;
}

.wsk-layout__header .wsk-navigation__link {
    color: #212121;
}

pre {
    background: #F8F8F8;
    color: #6D4BA0;
}

.preview {
    display: inline-block;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.preview p {
    max-width: 400px;
}

.preview h3 {
    font-size: 1.57143em;
    margin: 1em 0 .3em;
    color: #757575;
}

#preview-audit img {
    float:right;
}

#preview-success {
    text-align: right;
}

#preview-success p {
    float: right;
}

#preview-success img {
    float:left;
}

/*Switching to the shadow used on the Cardboard site*/
.wsk-layout__header--transparent.is-casting-shadow {
   box-shadow: 2px 4px 14px rgba(0,0,0,.05);
}

.footer {
    background: #fff;
    font-size: .9em;
    padding: 16px 24px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
.footer ul {
    margin: 0;
    text-align: right;
    clear: none;
}
.footer li {
    display: inline;
    line-height: 2.19;
    list-style: none;
    margin: auto;
}
.footer a {
    color: #666;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
}

@media (min-width: 300px) and (max-width: 500px) {
    #transparent {
        background-position: 10% 40%;
        width: 100%;
        height: 200px;
    }

    .wsk-layout__content h1 {
        font-size: 1.5em;
    }

    .wsk-layout__content h2 {
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5em;
    }

    .wsk-layout__content .wsk-icon-logo {
        height: 24px;
        width: 24px;
        margin-bottom: -6px;
    }

    .preview img {
        max-width: 100%;
        height: auto;
    }
}
